<!-- component -->

<main>
  <section>
    <div class='grid grid-cols-1 lg:grid-cols-2 gap-6 mt-10'>
      {{#each recipes as |recipe|}}
        <div
          class='w-full bg-green-500 rounded-lg shadow-xl shadow-slate-500 overflow-hidden flex flex-col md:flex-row'
        >
          <div class='w-full md:w-2/5 h-80'>
            <img
              class='object-center object-cover w-full h-full'
              src='{{recipe.image}}'
              alt='photo'
            />
          </div>
          <div class='w-full md:w-3/5 text-left p-6 md:p-4 space-y-2'>
            <a
              class='text-xl text-white font-bold'
              href='{{recipe.sourceUrl}}'
            >{{recipe.title}}</a>
            <p class='text-base text-white font-normal'>Health Score:
              {{recipe.healthScore}}</p>
            <p class='text-base leading-relaxed text-white font-normal'>This
              dish will be ready in
              {{recipe.readyInMinutes}}
              minutes, with
              {{recipe.cookingMinutes}}
              of those minutes spent cooking. It has
              {{recipe.servings}}
              servings, with a price per serving
              {{recipe.pricePerServing}}. Finally this dish has
              {{recipe.weightWatcherSmartPoints}}
              Weight Watcher Points.</p>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</main>
{{#if logged_in}}
  <script src='/js/logout.js'></script>
{{/if}}