<!-- component -->

<main>
  <section>
    <div class='grid grid-cols-1 lg:grid-cols-2 gap-6 mt-10'>
      {{#each recipes as |recipe|}}
        <div
          class='w-full bg-green-500 rounded-lg shadow-xl shadow-slate-500 overflow-hidden flex flex-col md:flex-row'
        >
          <div class='w-full md:w-2/5 h-80'>
            <img
              class='object-center object-cover w-full h-full'
              src='{{recipe.image}}'
              alt='photo'
            />
          </div>
          <div class='w-full md:w-3/5 text-left p-6 md:p-4 space-y-2'>
            <a
              class='text-3xl text-gray-800 font-bold'
              href='{{recipe.sourceUrl}}'
            >{{recipe.title}}</a>
            <p class='text-2xl text-gray-800 font-bold'>Health Score:
              {{recipe.healthScore}}</p>
            <p class='indent-8 text-lg leading-relaxed text-gray-800 font-normal'>This
              dish will be ready in
              {{recipe.readyInMinutes}}
              minutes, and has 
              {{recipe.aggregateLikes}}
              likes on Spoonacular. Containing
              {{recipe.servings}}
              servings, and with a price per serving of
              {{recipe.pricePerServing}}, this dish has
              {{recipe.weightWatcherSmartPoints}}
              Weight Watcher Smart Points.</p>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</main>
{{#if logged_in}}
  <script src='/js/logout.js'></script>
{{/if}}